<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>UPDATE</servlet-name>
		<servlet-class>builder.updateinfoweb.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UPDATE</servlet-name>
		<url-pattern>/updateservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DB</servlet-name>
		<servlet-class>builder.updateinfoweb.DbServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DB</servlet-name>
		<url-pattern>/dbservlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>updateinfo.jsp</welcome-file>
	</welcome-file-list>
	
	
	<servlet>
		<servlet-name>SALARY</servlet-name>
		<servlet-class>bridge.bsshow.SalaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SALARY</servlet-name>
		<url-pattern>/salaryservlet</url-pattern>
	</servlet-mapping>
	
</web-app>
